<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/styles/main.css">
    <link rel="stylesheet" type="text/css" href="public/styles/dashboard.css">
    <link rel="stylesheet" type="text/css" href="public/styles/navbar.css">
    <script src="public/scripts/dashboard.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <nav>
        <a href="\dashboard">Unihub</a>
        <ul>
            <li><a href="\dashboard">Strona główna</a></li>
            <li><a href="\categories">Kategorie</a></li>
            <li><a href="\account">Profil</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <div class="header-section">
            <h1>TODO</h1>
            <button class="add-btn" id="addTaskBtn">+ Dodaj zadanie</button>
        </div>
        <hr class="divider">
        <div class="list" id="todoList">
            <p class="loading-message">Ładowanie zadań...</p>
        </div>
    </div>

    <div id="addModal" class="modal">
        <div class="modal-content">
            <h1 id="modalTitle">Dodaj zadanie</h1>
            <form id="addForm">
                <input type="hidden" id="taskId">
                <label for="taskName" class="label">Nazwa zadania</label>
                <input type="text" id="taskName" name="taskName" required maxlength="255">
                <div class="form-actions">
                    <button type="submit" class="submit-btn">Zapisz</button>
                    <button type="button" class="cancel-btn" id="cancelBtn">Anuluj</button>
                </div>
            </form>
        </div>
    </div>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h1>Potwierdzenie usunięcia</h1>
            <p>Czy na pewno chcesz usunąć to zadanie?</p>
            <div class="form-actions">
                <button class="submit-btn" id="confirmDeleteBtn">Usuń</button>
                <button class="cancel-btn" id="cancelDeleteBtn">Anuluj</button>
            </div>
        </div>
    </div>
</body>
</html>