.list-item{
    min-height:50px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.form-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.form-actions button{
    width: 100%;
}

