@media (max-width: 480px) {
    .nav-default, 
    .main-container {
        width: 100%;
        margin: 0;
    }

    .nav-default{
        height: 60px;
    }
    .nav-small{
        width: 100%;
        max-width: 100vw;
    }
    .nav-center{
        justify-content: center;
    }
    
    .main-container {
        height: calc(100vh - 120px);
        padding: 0;
    }

    .main-container-center{
        justify-content: unset;   
    }
    
    .action-buttons {
        flex-direction: column;
    }
    
    .header-section {
        justify-content: center;
        margin: 0.5rem;
    }
    
    .header-section .add-btn {
        display: none;
    }

    .filters-section{
        flex-direction: column;
        gap: var(--spacing-xs)
    }

    .divider{
        margin-top: 0;
    }

    .list-item{
        margin: 0;
    }
    
    .mobile-footer {
        display: block;
    }
    
    nav ul li:not(.nav-icon-only) {
        display: none;
    }
    nav .logout-btn {
        display: none;
    }
    
    nav ul {
        gap: 0;
    }
    
    .nav-icon-only {
        display: flex;
    }
    
    .nav-icon-only a {
        display: flex;
        align-items: center;
        padding: var(--spacing-xs);
    }
    
    .nav-icon-only img {
        width: 24px;
        height: 24px;
    }

    .modal {
        overflow-y: auto;
    }
    
    .modal-content-form {
        max-height: fit-content;
        margin: auto 0;
        padding: var(--spacing-md);
        width: 100%;
        min-width: unset;
    }
    
    .modal h1 {
        margin-bottom: var(--spacing-sm);
    }

    .error-container{
        max-width: 100vw;
        width:100%;
        margin:0;
        height: calc(100vh - 60px);
        justify-content: center;
        text-align: center;
    }

    .form-row{
        display: flex;
        flex-direction: column;
    }

    .form-small{
        width: 100%;
        height: calc(100vh - 7vh);
        max-width: 100vw
    }

    *::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }

    .filter-select {
        width: 90vw;
        align-self: center;
    }

    .form-preferences{
        gap:2vh;
    }

    .preferences-container{
        align-items: flex-start;
    }
    
    .logout-form{
        display: flex;
        justify-content: center;
        margin-bottom: 0.5rem;
    }
    .fake-btn {
        display:block;
    }
}