@media (max-width: 480px) {
    nav{
        height: 60px;
    }

    nav, 
    nav.small,
    .main-container {
        width: 100%;
        margin: 0;
    }
    
    .main-container {
        height: calc(100vh - 120px);
        padding: 0;
        margin-bottom: 60px;
    }
    
    .action-buttons {
        flex-direction: column;
    }
    
    .header-section {
        justify-content: center;
        margin: 0.5rem;
    }
    
    .header-section .add-btn {
        display: none;
    }

    .filters-section{
        flex-direction: column;
        gap: var(--spacing-xs)
    }

    .divider{
        margin-top: 0;
    }

    .list-item{
        margin: 0;
    }
    
    .mobile-footer {
        display: block;
    }
    
    nav ul li:not(.nav-icon-only) {
        display: none;
    }
    
    nav ul {
        gap: 0;
    }
    
    .nav-icon-only {
        display: flex;
    }
    
    .nav-icon-only a {
        display: flex;
        align-items: center;
        padding: var(--spacing-xs);
    }
    
    .nav-icon-only img {
        width: 24px;
        height: 24px;
    }

    .modal {
        overflow-y: auto;
    }
    
    .modal-content-form {
        max-height: fit-content;
        margin: auto 0;
        padding: var(--spacing-md);
        width: 100%;
        min-width: unset;
    }
    
    .modal h1 {
        margin-bottom: var(--spacing-sm);
    }

    .form-row{
        display: flex;
        flex-direction: column;
    }

    *::-webkit-scrollbar {
        height: 0px;
        width: 0px;
    }
}