* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    border: none;
}

body {
    background-color: var(--color-gray-lighter);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

a {
    color: var(--color-info);
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: color var(--transition-normal);
}

a:hover {
    text-decoration: underline;
}