@media (max-width: 480px) {
    .main-container {
        max-width: 480px;
        width: 100%;
        height: 86vh;
        margin: 0;
        padding: 0;
    }
    
    nav {
        max-width: 480px;
        width: 100%;
        margin: 0;
    }
    
    .divider {
        display: none;
    }
    
    h1 {
        align-self: center;
    }
    
    .list-item .title {
        font-size: 1rem;
    }
    
    .list-item .description {
        font-size: 0.85rem;
    }
    
    .list-icon {
        width: 20px;
        height: 20px;
    }
    
    .form-input,
    .form-textarea,
    .form-select {
        font-size: 16px;
    }

    .form-row{
        flex-direction: column;
    }
}