.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--color-white);
    width: 90%;
    padding: 2vh 20vh;
    box-shadow: var(--shadow-default);
    height: calc(100vh - 9vh - 2vh);
}

.main-container-center{
    justify-content: center;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 100%;
}

.filters-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 1rem;
}

.filter-group {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.filter-select {
    padding: 0.5rem;
    border: 1px solid var(--color-gray);
    min-width: 150px;
}

.toggle-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
}

.toggle-label input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
