button {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color var(--transition-normal);
}

.submit-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: var(--color-primary-dark);
}

.cancel-btn {
    background-color: var(--color-gray-medium);
    color: var(--color-white);
    margin-top: 10px;
}

.cancel-btn:hover {
    background-color: var(--color-gray-dark);
}

.logout-btn {
    background-color: transparent;
    color: var(--color-danger);
    margin: 24px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.logout-btn:hover {
    text-decoration: underline;
}

.add-btn {
    background-color: var(--color-secondary);
    color: var(--color-white);
    min-width: 150px;
}

.add-btn:hover {
    background-color: var(--color-secondary-dark);
}

/* Menu Button */
.menu-btn {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    padding: 0;
    width: 24px;
    height: 24px;
}

.menu-btn img {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}