.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    height: 100%;
	padding: 2vh 0;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem;
	margin: 0 1rem;
    background: var(--color-gray-lightest);
    box-shadow: var(--shadow-light);
    transition: all var(--transition-fast);
    min-height: auto;
}

.list-item:hover {
    box-shadow: var(--shadow-default);
    border-color: var(--color-gray);
}

.list-item .content {
    flex: 1;
    min-width: 0;
}

.list-item .title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 0.5rem 0;
    color: var(--color-black);
}

.list-item .description {
    font-size: 0.9rem;
    color: var(--color-gray-darker);
    margin: 0.25rem 0;
}

.action-buttons {
    display: flex;
    gap: 1rem;
}

.menu-btn {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: background var(--transition-fast);
}

.menu-btn:hover {
    background: var(--color-gray-lightest);
}

.menu-btn:active {
    background: var(--color-gray-lighter);
}

.list-icon {
    width: 24px;
    height: 24px;
    display: block;
}

.empty-message,
.loading-message,
.error-message {
    text-align: center;
    padding: 40px;
    color: #757575;
    font-size: 18px;
}

.error-message {
    color: var(--color-error);
}

*::-webkit-scrollbar {
 	height: 6px;
  	width: 8px;
}
*::-webkit-scrollbar-track {
  	border-radius: 3px;
}

*::-webkit-scrollbar-track:hover,
*::-webkit-scrollbar-track:active {
  	background-color: var(--color-gray-light);
}

*::-webkit-scrollbar-thumb {
  	border-radius: 3px;
	background-color: var(--color-primary);
}

*::-webkit-scrollbar-thumb:hover {
  	background-color: var(--color-primary);
}

*::-webkit-scrollbar-thumb:active {
	background-color: var(--color-primary-dark);
}
