nav {
    background-color: var(--color-primary);
    font-family: var(--font-secondary);
    padding: 10px 20px;
    box-shadow: var(--shadow-light);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 2vh;
    height: 7vh;
    min-width: 300px;
}

nav > a {
    color: var(--color-white);
    font-size: 24px;
    margin: 0;
    text-decoration: none;
}

nav > a:hover {
    color: var(--color-white);
    text-decoration: none;
}

nav.small {
    max-width: 400px;
    width: 90%;
    margin: 0px auto;
    justify-content: center;
}

nav > ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

li > a {
    color: var(--color-white);
    transition: color var(--transition-normal);
    text-decoration: none;
}

li > a:hover {
    color: var(--color-white);
    text-decoration: none;
}